body{
    font-family: cursive;
    background-color: #37E2D5;
    color: #590696;
}

input{
    margin: 5px;
    color: #590696;
}

input:checked + label{
    background-color: #590696;
    color: #FBCB0A;
}

button{
    font-family: cursive;
    color: #590696;
    background-color: #C70A80;
    border-radius: 5px;
}

#tittle-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#preparation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#players-prep{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#start-button{
    background-color: #C70A80;
    border-radius: 20px;
    color: #590696;
    border: 0px;
    width: 200px;
    height: 40px;
    margin: 10px;
}

#options{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#select{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#select-button{
    width: 200px;
    height: 25px;
}

#result-section{
    display: flex;
    justify-content: center;
    align-content: center;
}

#result{
    display: none;
}

#battle{
    display: none;
    flex-direction: column;
}

#players{
    display: flex;
    justify-content: center;
    align-items: center;
}

#resultsection{
    display: none;
}

#restart{
    display: none;
    justify-content: center;
}

.tittle{
    color: #590696;
}

.player-prep{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player{
    display: flex;
    margin: 10px;
    background-color: #FBCB0A;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    width: 120px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 20px;
}

.player-info{
    display: flex;
    justify-content: center;
}

.hand-info{
    display: flex;
    justify-content: center;
}

.radio-hands{
    display: none;
}

.label-hands{
    display: flex;
    background-color: #FBCB0A;
    color:#590696;
    border-radius: 10px;
    margin: 10px;
    width: 100px;
    height: 25px;
    padding: 5px;
    align-items: center;
    justify-content: center;
}